<div class="container">
    <h3>Mandanos un mensaje para ponernos en contacto contigo y darte una mejor acesoria</h3>
  <form
    [formGroup]="contactForm"
    class="row g-3 needs-validation mt-4 border p-2"
    novalidate
    (submit)="enviar($event)"
  >
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        [ngClass]="{'is-invalid': hasErrors('email', 'required')  || hasErrors('email', 'email')}"
        id="exampleFormControlInput1"
        formControlName="email"
        placeholder="name@example.com"
      />
      @if (hasErrors('email', 'required')){
          <span class="text-danger" *ngIf="hasErrors('email', 'required')">El campo es requerido.</span>
      }
      @if(hasErrors('email', 'email')){
          <span class="text-danger" *ngIf="hasErrors('email', 'email')">El formato de email no es permitido.</span>
      }
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Mensaje</label
      >
      <textarea
        class="form-control"
        [ngClass]="{'is-invalid': contactForm.get('message')?.hasError('required') && contactForm.get('message')?.touched || contactForm.get('message')?.hasError('minlength') && contactForm.get('message')?.touched}"
        formControlName="message"
        id="exampleFormControlTextarea1"
        rows="5"
      ></textarea>
      <span class="text-danger" *ngIf="contactForm.get('message')?.hasError('required') && contactForm.get('message')?.touched">El campo es requerido.</span>
      <span class="text-danger" *ngIf="contactForm.get('message')?.hasError('minlength') && contactForm.get('message')?.touched" >El mensaje debe de tener almenos 10 caracteres.</span>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
</div>
