.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
}
img{
    height: 30vh;
    object-fit: contain;
}
a{
    width: 15vh;
}
.center{
    text-align: center;
}